<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Add User</li>
  </ol>
</nav>

<div class="row">
  <div class="justify-content-start pt-5"><h1 class="text-primary">Edit New Driver's Licence</h1></div>
  <div class=""><h5>Edit New Driver's Licence Application</h5></div>
</div>

<div class="container">
<fieldset class="scheduler-border">
<legend class="scheduler-border">Personel Details</legend>
<div class="row g-3 needs-validation pt-5 align-self-center" method="POST" action="/adduser" novalidate> 

<div class="col-4">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" name="Name">
  <label for="floatingInput">First Name</label>
</div>
</div>

<div class="col-4">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="Username">
  <label for="floatingInput">Middle Name</label>
</div>
</div>

<div class="col-4">
<div class="form-floating mb-3">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password">
  <label for="floatingPassword">Last Name(Surname)</label>
</div>
</div>

<div class="col-4">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" name="Name">
  <label for="floatingInput">Mothers Maiden Name</label>
</div>
</div>

<div class="col-4">
<div class="form-floating mb-3">
  
<select class="form-control">
  <option>Male</option>
   <option>Female</option>
</select>

</div>
</div>

<div class="col-4">
<div class="form-floating mb-3">
  <input type="date" class="form-control" id="birthday" name="birthday" placeholder="MM/DD/YYY">
  <label for="floatingPassword">Date of Birth (dd/mm/yyyy)</label>
</div>
</div>
        



<div class="col-4">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" name="Name">
  <label for="floatingInput">Full Name</label>
</div>
</div>

<div class="col-4">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="Username">
  <label for="floatingInput">Username</label>
</div>
</div>

<div class="col-4">
<div class="form-floating mb-3">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password">
  <label for="floatingPassword">Password</label>
</div>
</div>

<div class="col-4">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" name="Name">
  <label for="floatingInput">Full Name</label>
</div>
</div>

<div class="col-4">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="Username">
  <label for="floatingInput">Username</label>
</div>
</div>

<div class="col-4">
<div class="form-floating mb-3">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password">
  <label for="floatingPassword">Password</label>
</div>
</div>


<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">+ Add User</button>
</div>


</form>
</fieldset>
</div>